rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // This rule allows anyone with your database reference to view, edit,
    // and delete all data in your Firestore database. It is useful for getting
    // started, but it is configured to expire after 30 days.
    //
    // Make sure to write security rules for your app before that time, or else
    // all reads and writes will be denied.
    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2025, 9, 7);
    }
  }
}
